[submodule "flatwhite-vim"]
	path = vendor/flatwhite
	url = https://github.com/woodyZootopia/flatwhite-vim.git
	branch = master
[submodule "pack/tpope/start/vim-sensible"]
	path = pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "pack/woodyZootopia/start/flatwhite-vim"]
	path = pack/woodyZootopia/start/flatwhite-vim
	url = https://github.com/woodyZootopia/flatwhite-vim.git
	branch = master
[submodule "vendor/onehalf"]
	path = vendor/onehalf
	url = https://github.com/sonph/onehalf.git
	branch = master
