[submodule "pack/theme/opt/onehalf"]
	path = pack/theme/opt/onehalf
	url = https://github.com/sonph/onehalf.git
	branch = master
[submodule "pack/base/start/vim-sensible"]
	path = pack/base/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	branch = master
[submodule "pack/base/start/fugitive"]
	path = pack/base/start/fugitive
	url = https://tpope.io/vim/fugitive.git
	branch = master
[submodule "pack/base/start/ale"]
	path = pack/base/start/ale
	url = https://github.com/dense-analysis/ale.git
	branch = master
[submodule "pack/base/start/vim-surround"]
	path = pack/base/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "pack/theme/start/flatwhite-vim"]
	path = pack/theme/start/flatwhite-vim
	url = https://github.com/woodyZootopia/flatwhite-vim.git
	branch = master
[submodule "pack/base/start/vim-visual-star-search"]
	path = pack/base/start/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
	branch = master
[submodule "pack/base/start/vim-unimpaired"]
	path = pack/base/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "pack/base/start/vim-commentary"]
	path = pack/base/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/base/start/vim-indent-object"]
	path = pack/base/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "pack/base/start/grep"]
	path = pack/base/start/grep
	url = https://github.com/yegappan/grep.git
	branch = master
